h2> Vista del administrador</h2>
<hr>
<br>
{{>menu}}
<br>
<h3>
    Bienvenido Administrador !!
</h3>
<h4>
    Que tarea deseas hacer ?
</h4>
<ul class="menu">
    <li>
        <a href="/visualizarProductos"> Visualizar Productos</a>
    </li>
    <li>
        <a href="/crearProducto"> Crear un producto nuevo</a>
    </li>
    <li>
        <a href="/modificarProducto"> Modificar Productos</a>
    </li>
    <li>
        <a href="/borrarProductos"> Eliminar Productos</a>
    </li>
</ul>