<div class="menu-container">
    <h5> Menu &#9658 </h5>
    <ul class="menu">
        {{#if mostrarMenu0}}
        <li>
            <a href="/"> Home Page</a>
        </li>
        {{/if}}
        {{#if mostrarMenu1}}
        <li>
            <a href="/registro"> Registro</a>
        </li>
        {{/if}}
        {{#if mostrarMenu2}}
        <li>
            <a href="/login"> Login </a>
        </li>
        {{/if}}
        {{#if mostrarMenu3}}
        <li>
            <a href="/loginGitHub"> Login con Git Hub</a>
        </li>
        {{/if}}
        {{#if mostrarMenu4}}
        <li>
            <a href="/current1"> Mostrar los datos del usuario</a>
        </li>
        {{/if}}
        {{#if mostrarMenu5}}
        <li>
            <a href="/products"> Productos</a>
        </li>
        {{/if}}
        {{#if mostrarMenu6}}
        <li>
            <a href="/carts"> Ver carrito</a>
        </li>
        {{/if}}
        {{#if mostrarMenu7}}
        <li>
            <a href="/api/sesions/logout"> Log Out</a>
        </li>
        {{/if}}
        {{#if mostrarMenu8}}
        <li>
            <a href="/admin"> Volver al menu del Administrador</a>
        </li>
        {{/if}}
        {{#if mostrarMenu9}}
        <li>
            <a href="/chat"> Chat de Usuarios</a>
        </li>
        {{/if}}
    </ul>
    <h4 class="typeofuser"> {{typeofuser}} </h4>
</div>